footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: black;
}
footer *{
    color: aliceblue;
}
footer h1{
    font-size: 28px;
    text-transform: uppercase;
}
footer li{
    padding: 10px 0;
}